 <!-- Product section-->
 <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" src={{productdata.productImg}} alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">{{productdata.id}}</div>
                <h1 class="display-5 fw-bolder" style="text-decoration: underline;font-family: 'Times New Roman', Times, serif;">{{productdata.productName}}</h1>
                <div class="fs-5 mb-5">
                    <span style="color: blue;">{{productdata.price}} RS</span><br>
                    <span>Rating : {{productdata.rating}}</span><br>
                    <span>Review : {{productdata.review}}</span>
                </div>
                <p class="lead">{{productdata.description}}</p>
                <div class="d-flex">
                    <button class="btn btn-danger  flex-shrink-0 me-3" type="button" style="width: 6rem;">
                        <i class="bi-cart-fill me-1"></i>
                        <a href="product/edit-product/{{productdata.id}}" style="text-decoration: none;color: aliceblue;">edit</a>
                    </button>
                    <button class="btn btn-primary flex-shrink-0 me-3" type="button" style="width: 6rem;">
                        <i class="bi-cart-fill me-1"></i>
                        <a href="product/delete-product/{{productdata.id}}" style="text-decoration: none;color: aliceblue">delete</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>